h1 {
    color: #4747a5;
    
    text-align: center;
}

body {
    background-color: rgb(20, 0, 56);
}

h2{
    color: darkgoldenrod;
}

p{
    color: yellow;
}

ul{
    color: rgb(95, 70, 5);
}

h6{
    color: rgb(173, 173, 85);
}