h1 {
    color: #4747a5;
    
    text-align: center;
}

body {
    
}

h2{
    color: goldenrod;
    font-family: cursive;
    font-style: italic;
}

p{
    color: #ffff00;
    font-family: sans-serif;
    font-weight: lighter;
}

ul{
    color: rgb(175, 130, 14);
    font-weight: bolder;
}

h6{
    color: rgb(173, 173, 85);
}

span{
    color: #ffa500;
}

div{
    color: rgb(64, 255, 47);

}

header{
    font-weight: bolder;
    font-size: xx-large;
}

a{
    color: rgb(82, 49, 6);
}

img{
    vertical-align: middle;
}

nav{
    background-color: #1d0053;
}

nav a:link{
    color: aqua;
}